@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('http://fonts.cdnfonts.com/css/aller');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: theme('colors.gray-custom-dark');
  }
}

@layer components {
  .profile-triangle {
    @apply absolute z-0 border-solid border-t-cst-150 border-t-blue-custom border-r-cst-240 border-r-transparent;
  }

  .sidebar-decoration {
    @apply content-[''] block w-11/12 h-px bg-gray-custom-light m-cst-2;
  }

  .sidebar-title-font {
    @apply mb-cst-8 font-medium uppercase leading-5
  }

  .language-level {
    @apply w-cst-40 h-cst-40 rounded-full bg-gray-custom-light;
  }

  .language-level.romanian {
    box-shadow: inset 0px 0px 0px 2px white;
  }

  .language-level.english {
    box-shadow: inset 0px 0px 0px 4px white;
  }

  .language-level.turkish {
    box-shadow: inset 0px 0px 0px 6px white;
  }

  .work-icon-wrapper {
    @apply w-cst-45 h-cst-45 p-2 border-solid border-2 border-white rounded-full bg-blue-custom leading-6
  }

  .education-icon-wrapper {
    @apply w-cst-45 h-cst-45 pt-2 pl-2 border-solid border-2 border-white rounded-full bg-blue-custom leading-6
  }

  .timeline-decoration {
    @apply border-solid border-l-2 border-gray-custom-medium-opaque
  }

  .pill-normal {
    @apply inline-block mt-0.5 mr-1 px-1 py-0.5 font-aller font-bold leading-4 text-xs whitespace-nowrap text-gray-custom-medium border border-solid border-blue-custom bg-transparent rounded-full
  }

  .pill-highlited {
    @apply inline-block mt-0.5 mr-1 px-1 py-0.5 font-aller font-bold leading-4 text-xs whitespace-nowrap text-purple-custom-text border-cst-3 border-solid border-purple-custom-border/20 bg-purple-custom-text/10 rounded-full
  }
}
