@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('http://fonts.cdnfonts.com/css/aller');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: 16px;
  }
}

@layer components {
  .profile-triangle {
    @apply absolute z-0 border-solid border-t-cst-150 border-t-blue-custom border-r-cst-240 border-r-transparent;
  }

  .sidebar-decoration {
    @apply content-[''] block w-11/12 h-px bg-gray-sidebar-decoration m-cst-2;
  }

  .language-level {
    @apply w-cst-40 h-cst-40 rounded-full bg-gray-sidebar-decoration;
  }

  .language-level.romanian {
    box-shadow: inset 0px 0px 0px 2px white;
  }

  .language-level.english {
    box-shadow: inset 0px 0px 0px 4px white;
  }

  .language-level.turkish {
    box-shadow: inset 0px 0px 0px 6px white;
  }
}
